{% extends 'core/coreBase.html' %}

{% block core_content %}

<main class="main-container" id="core-index-sections-main" >

    <section class="main-section section-hero" id="core-index-section-hero" >

        <div class="hero-content" id="core-index-hero-content" >
            <p>est. 2025</p>
            <h1 class="section-title" id="core-index-hero-title" >
                DarkSecretStudios <br>
                building the next generation  <br>
                of metaverse reality together
            </h1>
            <p class="section-subtitle" id="core-index-hero-subtitle" >
                We build the next generation of metaverse, empowering millions of developers and players to create without limits and any knowledge.
            </p>
            <div>
                <a href="#" class="btn btn-primary">Get Started</a>
                <a href="#" class="btn">Get Started</a>
            </div>
        </div>

    </section>

</main>

{% endblock %}
