/* Engine Index Hero Background */
#voxelengine-index-section-hero {
    background: radial-gradient(circle at 50% 50%, rgba(59, 130, 246, 0.15) 0%, transparent 70%);
}

/* Core Index Hero Background */
#core-index-section-hero {
    background: radial-gradient(circle at 50% 50%, rgba(99, 102, 241, 0.25) 0%, transparent 70%);
}

/* VoxelGames Index Hero Background */
#voxelgames-index-section-hero {
    background: radial-gradient(circle at 50% 50%, rgba(217, 70, 239, 0.15) 0%, transparent 90%);
}