/* Light Theme */
:root {
    --text-primary: rgb(35, 40, 43);
    --text-secondary: rgb(73, 80, 86);

    --brand-color: rgb(197, 33, 33);

    --bg-light: rgb(245, 245, 245);
    --bg-light-transparent-s: rgb(245, 245, 245, 0.75);
    --bg-light-transparent-m: rgb(245, 245, 245, 0.5);
    --bg-light-transparent-l: rgb(245, 245, 245, 0.25);

    --bg-border: rgb(212, 218, 223);

    --bg-light-soft: rgb(200, 200, 215);
    --bg-light-transparent-s: rgb(210, 210, 225, 0.75);
    --bg-light-transparent-m: rgb(210, 210, 225, 0.5);
    --bg-light-transparent-l: rgb(210, 210, 225, 0.25);

    --global-header-min-height: 5vh;
}

/* Dark theme */
.darktheme {
    --text-primary: aliceblue;
    --text-secondary: rgb(212, 218, 223);

    --bg-light: rgb(35, 40, 43);
    --bg-light-transparent-s: rgb(35, 40, 43, 0.75);
    --bg-light-transparent-m: rgb(35, 40, 43, 0.5);
    --bg-light-transparent-l: rgb(35, 40, 43, 0.25);
}

#abc {
    background-color: deeppink;
}

#def {
    background-color: rgb(34, 0, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-light);
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-size: 1.05rem;
    color: var(--text-primary);
}


a {
    text-decoration: none;
    color: var(--text-primary);
}






#global-header {
    width: 100%;
    min-height: var(--global-header-min-height);

    background-color: var(--bg-light);
    border-bottom: 2px solid var(--bg-border);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

#global-header nav {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 15px;
}

#global-header nav a {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--text-secondary);
}

#global-header nav .active {
    position: relative;
    color: var(--text-primary);
}


#global-header nav .active::after {
    content: '';
    width: 100%;
    height: 2px;
    bottom: -0.25rem;
    left: 0;
    position: absolute;
    background-color: var(--brand-color);

    /* glowing effect */
    box-shadow: 0 0 10px var(--brand-color);
}

#global-header-left {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 15px;
}

#global-header-right {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 15px;
}


#global-footer {
    width: 100%;
    min-height: var(--global-header-min-height);

    background-color: var(--bg-light);
    border-top: 2px solid var(--bg-border);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#global-footer-companyInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    background-color: var(--bg-light-transparent-s);
}

#company-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}



#global-footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 75%;
    height: 100%;
    background-color: var(--bg-light-transparent-s);
}

#global-footer nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
}









#global-main {
    min-height: 100vh;
}

#global-main section {
    min-height: 20;
}




.section-hero {
    min-height: 65vh;
}