<!DOCTYPE html>

{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body class="{% block global_theme %}{% endblock %}">

    <header id="global-header">
        <div id="global-header-left">
            <a href="{% url 'core:index' %}" class="Logo">
                <i class="icon_logo"></i>
                DarkSecret
            </a>
        </div>
        <nav>
            <a href="{% url 'core:index' %}" class="active">Home</a>
            <a href="{% url 'voxelengine:index' %}">VoxelEngine</a>
            <a href="{% url 'voxelgames:index' %}">VoxelGames</a>
        </nav>
        <div id="global-header-right">
            {% if user.is_authenticated %}
                <a href="{% url 'account_logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'account_login' %}">Login</a>
            {% endif %}
        </div>
    </header>
    <main id="global-main">
        {% block content %}{% endblock %}
    </main>

    <footer id="global-footer">
        <p>&copy; 2025 DarkSecretStudios. All rights reserved.</p>
        <div id="global-footer-companyInfo">
            <div id="company-logo">
                {% comment %} <h1 class="Logo">
                    DarkSecretStudios
                </h1> {% endcomment %}
            </div>
        </div>
        <nav>
            <!-- Links -->
            <div id="abc">
                 <h2>Company</h2>
                <a href="{% url 'core:index' %}">Home</a>
                <a href="#">News</a>
                {% comment %} <a href="{% url 'accounts:index' %}">Account</a> {% endcomment %}
             </div>
             <div id="def">
                 <h2>Services</h2>
                 <a href="#">VoxelEngine</a>
                 <a href="{% url 'voxelgames:index' %}">VoxelGames</a>
                 <a href="#">My Projects</a>
             </div>
             <div>
                <h2>Legal</h2>
                <a href="#">Terms of Service</a>
                <a href="#">Eula</a>
                <a href="#">Privacy policy</a>
             </div>
        </nav>
    </footer>

</body>
</html>